{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}
{% load censor %}
{% block content %}
<h2>Вы действительно хотите удалить данную публикацию?</h2>
<table>
        <tr>
            <td>
                <h3> heading </h3>
            </td>
            <td>
                <h3> Text </h3>
            </td>
            </tr>
            <tr>
            <td>
                {{ post.heading|censor }}
            </td>
            <td>
                {{ post.text|censor }}
            </td>
        </tr>
          </table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}